/* src/pages/Catalog.module.css */
.container{
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.filterbar{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.table{
    width: 80%;
    margin: 80px auto;
    border-collapse: collapse;
}

.thead th{
    background: #444;
    padding: 20px;
    text-align: center;
}

.table tbody{
    color: #222;
}

.table tbody tr:nth-child(odd){
    background-color: #ddd;
}

.table tbody tr:nth-child(even){
    background-color: #999;
}

.table tbody td{
    padding: 20px;
}

.btn{
    font-size: 16px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.overlay.show {
    opacity: 1;
    visibility: visible;
}

.overlay-content {
    background: var(--secondary); 
    color: var(--text);
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.overlay h2 {
    font-size: 30px;
    margin-bottom: 20px;
    color: var(--primary);
}

.overlay form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.overlay .formgroup {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.overlay .formgroup label {
    margin-bottom: 5px;
    font-weight: bold;
}

.overlay .formgroup input {
    width: 100%;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 5px;
    background: var(--background);
    color: var(--text);
}

.overlay .formgroup input::placeholder {
    color: #aaa; 
}

.overlay .btn {
    background: var(--primary);
    color: var(--text);
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    transition: background 0.3s;
}

.overlay .btn:hover {
    background: var(--text);
    color: var(--background);
}

.overlay .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: transparent;
    border: none;
    color: var(--text);
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.overlay .close-btn:hover {
    color: var(--primary);
}
